* {
    margin: 0;
    padding: 0;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.row {
    width: 70%;
    margin: 0 auto;
}

header {
    padding: 40px 0;
    background-color: #000000;
}

header h1 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 50;
	color: rgb(0, 255, 0);
}

header h2 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
	color: rgb(102, 78, 223);
}

header h3 {
	font-family:Verdana, Geneva, Tahoma, sans-serif, cursive;
    text-align: right;
    font-size: 15px;
    font-weight: 100;
	color: rgb(255, 255, 255);
}

.personal-attributes, .social-icons, .main-menu {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

.personal-attributes li {
    display: inline-block;
    padding: 0 15px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
}

.main-menu {
    margin: 0;
    background-color: rgb(89, 15, 227);
}

.main-menu li {
    display: block;
}

.main-menu li a {
    display: block;
    padding: 5px;
    text-decoration:none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;
    transition: all 0.3s;
}

.main-menu li a:hover {
    background-color: rgb(0, 255, 8);
}

section {
    padding: 50px 0;
}

#about-section {
    margin-top: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-box {
    width: 65%;
}

.right-box {
    width: 30%;
}

.right-box img {
    border-radius: 10px;
    width: 70%;
}

.left-box h1, .title {
    text-transform: uppercase;
}

.left-box p {
    text-align: justify;
    margin-top: 40px;
    font-weight: 100;
}

.img-container {
    margin-top: 25px;
}

.img-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.img-list li {
    display: inline-block;
    width: 50%;
}

.img-list li a {
    display: block;
}

.img-list li a img {
    display:block;
    width: 90%;
	margin-bottom: 10%;
}

hr {
    width: 50px;
    height: 8px;
    border: none;
    margin-top: 8px;
    background-color: rgb(0, 255, 8);
}
